.coment{
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    align-items: stretch;
    padding:0.5rem;
    line-break: normal;
    margin: 0.5rem;
}


.linha{
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    justify-content: space-between;
}

main{
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: #11111e;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    
}

p{
    padding: 0.2rem;
}