main{
    display: flex;
    min-height: 70%;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1rem;
}

input{
    width: auto;
    display: flex;
    text-align: center;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
}