.barra_pesquisa{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}
.menu-burguer{
    width:5%;
    height:70%;
}

nav {
    display: none;
    position: relative;
    z-index: 1;
}

.lupa{
    width:5%;
    height:60%;
}

.rec {
    border: 0.15rem solid #3D3D5E;
    height: auto;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:0.5rem;
    margin: 1rem;

}
.projetos_busca{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.projetinho{
    width:100%;
    height:4rem;
}
.check-filtro{
    display: flex;
    flex-direction:row;
    
}
.info_doacoes{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}